/* ========= Breakpoints ========= */
$bp-mobile-sm: 340px;
$bp-mobile: 640px; // ~sm
$bp-tablet: 992px; // ~md/lg
$bp-laptop: 1200px; // ~xl

.section {
  margin-top: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  padding: 0 15px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  filter: grayscale(1);
  transition: 500ms all ease-in-out;
  &:hover {
    filter: grayscale(0);
  }
}

@media (min-width: #{$bp-mobile-sm}) and (max-width: #{$bp-mobile}) {
  .section {
    margin-top: 40px;
  }
}
@media (max-width: #{$bp-mobile-sm}) {
  .section {
    margin-top: 0;
  }
}
